dataset
dataset/*
*.tif
*.ckpt
*.csv

images/
images/*
*.out
pretrain/*.out
__pycache__/*
__pycache__
runs/__pycache__/*
.idea
.idea/*
yolo/datasets
yolo/dataset/*
yolo/*.out
*.pt
yolo/*.pt

.DS_Store
