dataset
dataset/*
*.tif


*.pt
*.pth
*.ckpt

*.out
pretrain/*.out
__pycache__/*
__pycache__
run2/__pycache__/*
.idea
.idea/*
yolo/datasets
yolo/dataset/*
yolo/*.out
*/__pycache__
yolo/*.pt

.DS_Store
